<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DA1_QLQuanNET.Properties.Settings.QuanLyQuanNETConnectionString" connectionString="Data Source=DTNMSI\DTNSQL2012;Initial Catalog=QuanLyQuanNET;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="QuanLyQuanNETEntities" connectionString="metadata=res://*/INHDModel.csdl|res://*/INHDModel.ssdl|res://*/INHDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DTNMSI\DTNSQL2012;initial catalog=QuanLyQuanNET;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="QuanLyQuanNETEntities1" connectionString="metadata=res://*/ModelINHD.csdl|res://*/ModelINHD.ssdl|res://*/ModelINHD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DTNMSI\DTNSQL2012;initial catalog=QuanLyQuanNET;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="QuanLyQuanNETEntities2" connectionString="metadata=res://*/INHDModel.csdl|res://*/INHDModel.ssdl|res://*/INHDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DTNMSI\DTNSQL2012;initial catalog=QuanLyQuanNET;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Model1" connectionString="data source=DTNMSI\DTNSQL2012;initial catalog=QuanLyQuanNET;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
